################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ConsoleApp1/.vs/ConsoleApp1
/ConsoleApp1/obj/Debug
/StudentInfo/.vs/StudentInfo
/ChallengeProject/.vs
/ChallengeProject/Final/obj/Debug/net8.0
/ChallengeProject/Final/obj/Release/net8.0
/ChallengeProject/Starter/obj/Debug/net8.0/Starter.GlobalUsings.g.cs
/ChallengeProject/Starter/Program.cs
